<div class='flex'>
  <form [formGroup]='form'>
    <div class='flex'>
      <mat-form-field appearance='fill'>
        <mat-label>Email</mat-label>
        <input matInput
               placeholder='Email'
               [formControl]='form.controls.email'>
        <mat-hint>Your Email</mat-hint>
      </mat-form-field>

      <mat-form-field appearance='fill'>
        <mat-label>Password</mat-label>
        <input matInput
               placeholder='Lastname'
               [formControl]='form.controls.password'>
        <mat-hint>Your Password</mat-hint>
      </mat-form-field>
    </div>

    <div class='flex'>
      <mat-form-field appearance='fill'>
        <mat-label>Firstname</mat-label>
        <input matInput
               placeholder='Lastname'
               [formControl]='form.controls.firstName'>
        <mat-hint>Your firstname</mat-hint>
      </mat-form-field>

      <mat-form-field appearance='fill'>
        <mat-label>Lastname</mat-label>
        <input matInput
               placeholder='Lastname'
               [formControl]='form.controls.lastName'>
        <mat-hint>Your lastname</mat-hint>
      </mat-form-field>
    </div>
  </form>
</div>


